*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

img,
picture {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  color: #4b5862;
  font-family: "Overpass", sans-serif;
  font-size: 1.6rem;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

.blogr__container {
  width: 88%;
  max-width: 120rem;
  margin: 0 auto;
}
.blogr__container--small {
  margin: 0 0 0 2rem;
}
@media (min-width: 810px) {
  .blogr__container {
    width: 77%;
  }
}
.blogr__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blogr__hero {
  min-height: 73vh;
  background-image: url("../images/bg-pattern-intro.svg"), linear-gradient(90deg, #ff8f70, #ff3d54);
  background-repeat: no-repeat, no-repeat;
  background-size: 360vw, cover;
  background-position: left -90vw top -30vh, center;
  background-attachment: fixed;
  border-bottom-left-radius: 10rem;
  padding-top: 5.5rem;
}
@media (min-width: 810px) {
  .blogr__hero {
    min-height: 63vh;
    background-size: 260vw, cover;
    background-position: left -50vw top -40vh, center;
    padding-top: 6.5rem;
  }
}
@media (min-width: 1140px) {
  .blogr__hero {
    background-size: 200vw, cover;
    background-position: left -20vw top -130vh, center;
  }
}
.blogr__flex {
  display: flex;
  align-items: space-between;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10rem;
}
.blogr__header {
  position: relative;
}
@media (min-width: 1140px) {
  .blogr__header {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 5rem;
  }
}
.blogr__logo {
  width: clamp(8.2rem, 12vw, 10rem);
}
.blogr__logo--footer {
  width: 10rem;
  margin: 0 auto;
}
@media (min-width: 1140px) {
  .blogr__hamburger {
    display: none;
  }
}
.blogr__hamburger-btn {
  background-color: transparent;
  border: 0;
}
.blogr__nav {
  text-align: center;
  transition: 0.4s ease-in-out;
}
.blogr__nav--primary {
  width: 100%;
  background-color: white;
  border-radius: 0.5rem;
  position: absolute;
  top: 7rem;
  display: none;
}
.blogr__nav--primary.open-nav {
  display: block;
}
@media (min-width: 1140px) {
  .blogr__nav--primary {
    all: unset;
    width: 100%;
    text-align: center;
  }
}
.blogr__nav--secondary {
  width: 100%;
  margin: 8rem 0;
}
@media (min-width: 1140px) {
  .blogr__nav--secondary {
    text-align: left;
    margin: 0;
  }
}
.blogr__list {
  list-style: none;
}
.blogr__list--primary {
  margin: 4rem 0;
}
@media (min-width: 1140px) {
  .blogr__list--primary {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 4rem;
  }
}
@media (min-width: 1140px) {
  .blogr__list--secondary {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 0;
  }
}
.blogr__item--primary {
  position: relative;
  margin-bottom: 2rem;
}
@media (min-width: 1140px) {
  .blogr__item--primary {
    margin-bottom: 0;
  }
}
.blogr__item--secondary {
  margin-bottom: 5rem;
}
.blogr__link {
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  position: relative;
}
.blogr__link--primary:link, .blogr__link--primary:visited {
  color: #1f3f5b;
  font-size: 2rem;
  font-weight: 500;
}
.blogr__link--primary::after {
  content: url("../images/icon-arrow-dark.svg");
  position: absolute;
  bottom: 0.1rem;
  right: -1.5rem;
}
@media (min-width: 1140px) {
  .blogr__link--primary:link, .blogr__link--primary:visited {
    color: white;
    border-bottom: 0.1rem solid transparent;
    font-size: 1.6rem;
    transition: all 0.3s;
  }
  .blogr__link--primary:hover, .blogr__link--primary:active {
    border-bottom: 0.1rem solid white;
  }
  .blogr__link--primary::after {
    content: url("../images/icon-arrow-light.svg");
  }
}
.blogr__link--primary.open-arrow::after {
  bottom: -0.2rem;
  transform: rotate(180deg);
}
.blogr__link--secondary:link, .blogr__link--secondary:visited {
  color: white;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3rem;
  display: inline-block;
}
@media (min-width: 1140px) {
  .blogr__link--secondary:link, .blogr__link--secondary:visited {
    font-size: 1.4rem;
  }
}
.blogr__link--login::after {
  content: "";
}
.blogr__sublist {
  list-style: none;
}
.blogr__sublist--primary {
  width: 85%;
  background-color: rgba(200, 200, 203, 0.3);
  margin: 2rem auto;
  padding: 2rem 0;
  display: none;
}
.blogr__sublist--primary.open {
  border-radius: 0.5rem;
  text-align: center;
  display: block;
  margin: 2rem auto;
}
@media (min-width: 1140px) {
  .blogr__sublist--primary.open {
    width: 8rem;
    background-color: white;
    border-radius: 0.5rem;
    text-align: left;
    padding: 2rem 5rem 2rem 2rem;
    position: absolute;
    left: 0;
    display: inline-block;
  }
}
.blogr__subitem--primary:not(:last-child) {
  margin-bottom: 2rem;
}
.blogr__subitem--secondary:not(:last-child) {
  margin-bottom: 1rem;
}
.blogr__sublink {
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.2s ease-in;
}
.blogr__sublink--primary:link, .blogr__sublink--primary:visited {
  color: #4b5862;
}
.blogr__sublink--primary:hover, .blogr__sublink--primary:active {
  font-weight: 900;
}
.blogr__sublink--secondary:link, .blogr__sublink--secondary:visited {
  color: #c8c8cb;
  font-size: 1.8rem;
  border-bottom: 0.1rem solid transparent;
  transition: all 0.3s;
}
@media (min-width: 1140px) {
  .blogr__sublink--secondary:link, .blogr__sublink--secondary:visited {
    font-size: 1.4rem;
  }
}
.blogr__sublink--secondary:hover, .blogr__sublink--secondary:active {
  border-bottom: 0.1rem solid #c8c8cb;
}
.blogr__heading {
  text-align: center;
}
.blogr__heading-primary {
  color: white;
  font-size: clamp(3.3rem, 8vw, 6rem);
  font-weight: 600;
  margin: 1rem 0;
  padding: 0 1rem;
}
.blogr__heading-secondary {
  color: #1f3f5b;
  font-size: clamp(2.6rem, 5vw, 4rem);
}
.blogr__heading-tertiary {
  font-size: 2.85rem;
  margin-bottom: 2rem;
}
.blogr__heading-tertiary--white {
  color: white;
  font-size: 4rem;
  margin-top: 15rem;
}
@media (min-width: 1140px) {
  .blogr__heading-tertiary {
    text-align: left;
    margin: 9rem 0 2rem 0;
  }
}
.blogr__text {
  width: 90%;
  max-width: 50rem;
  color: white;
  font-weight: 300;
  font-size: 1.8rem;
  margin: 1.5rem auto 5rem auto;
}
.blogr__btns-wrapper--top {
  width: 85%;
  border-top: 1px solid #c8c8cb;
  margin: 0 auto;
  padding-top: 2rem;
  display: block;
}
@media (min-width: 1140px) {
  .blogr__btns-wrapper--top {
    border-top: unset;
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2rem;
  }
}
.blogr__btn:link, .blogr__btn:visited {
  width: 14rem;
  color: #ff7a85;
  font-weight: 900;
  font-family: "Ubuntu", sans-serif;
  border-radius: 5rem;
  text-decoration: none;
  padding: 1.3rem 0;
  display: inline-block;
  transition: all 0.3s;
}
.blogr__btn--white:link, .blogr__btn--white:visited {
  border: 0.1rem solid transparent;
  background-color: white;
  margin-right: 1rem;
}
.blogr__btn--white:hover, .blogr__btn--white:active {
  color: white;
  background-color: #ff7a85;
}
.blogr__btn--white-menu:link, .blogr__btn--white-menu:visited {
  color: white;
  border: 0.1rem solid transparent;
  margin-right: 0;
  background-image: linear-gradient(to right, #ff8f70, #ff3d54);
}
@media (min-width: 1140px) {
  .blogr__btn--white-menu:link, .blogr__btn--white-menu:visited {
    color: #ff7a85;
    background-image: unset;
    background-color: white;
  }
  .blogr__btn--white-menu:hover, .blogr__btn--white-menu:active {
    color: white;
    background-color: #ff7a85;
  }
}
.blogr__btn--outline:link, .blogr__btn--outline:visited {
  color: white;
  border: 0.1rem solid white;
}
.blogr__btn--outline:hover, .blogr__btn--outline:active {
  color: #ff7a85;
  background-color: white;
}
.blogr__main {
  margin: 10rem 0;
}
.blogr__section-big {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0;
}
@media (min-width: 1140px) {
  .blogr__section-big {
    min-height: 80vh;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-auto-flow: dense;
  }
}
.blogr__section-small {
  min-height: 60rem;
  background-color: #393c5b;
  background-image: url("../images/bg-pattern-circles.svg"), linear-gradient(160deg, #2c2d3f, #3f4164);
  background-position: top -15rem center, center;
  background-repeat: no-repeat, no-repeat;
  background-size: 165vw, cover;
  background-attachment: fixed;
  border-top-right-radius: 10rem;
  border-bottom-left-radius: 10rem;
  margin: 23rem 0 5rem 0;
  position: relative;
  display: flex;
  align-items: center;
}
@media (min-width: 810px) {
  .blogr__section-small {
    background-position: top -75rem center, center;
    align-items: flex-end;
  }
}
@media (min-width: 1140px) {
  .blogr__section-small {
    background-size: 75vw, cover;
    background-position: top -55rem left -25rem, center;
    min-height: 40rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}
.blogr__picture {
  position: relative;
}
.blogr__picture--right {
  grid-column: 2/-1;
}
.blogr__img {
  width: 100%;
}
@media (min-width: 810px) {
  .blogr__img {
    width: 90%;
    margin: 5rem 0;
  }
}
@media (min-width: 1140px) {
  .blogr__img {
    width: unset;
    margin: 0;
  }
}
@media (min-width: 1140px) {
  .blogr__img--right {
    position: absolute;
    bottom: -50rem;
    right: -27rem;
  }
}
.blogr__img--phones {
  width: 100%;
  max-width: 60rem;
  position: absolute;
  top: -22rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}
@media (min-width: 810px) {
  .blogr__img--phones {
    width: 80%;
  }
}
@media (min-width: 1140px) {
  .blogr__img--phones {
    top: -10rem;
    left: 40rem;
  }
}
@media (min-width: 1140px) {
  .blogr__img--left {
    position: absolute;
    bottom: -40rem;
    left: -28rem;
  }
}
.blogr__description {
  line-height: 1.8;
  text-align: center;
  margin-bottom: 3rem;
  padding-inline: 1rem;
}
@media (min-width: 1140px) {
  .blogr__description {
    text-align: left;
    padding-inline: 0;
  }
}
@media (min-width: 1140px) {
  .blogr__description-wrapper--left {
    margin: 0 2rem 0 16.5rem;
  }
  .blogr__description-wrapper--right {
    margin: 0 16.5rem 0 2rem;
  }
}
.blogr__description--white {
  color: white;
  padding-inline: 1rem;
}
@media (min-width: 1140px) {
  .blogr__description--white {
    padding: 0;
  }
}
.blogr__footer {
  background-color: #25252d;
  border-top-right-radius: 10rem;
  padding: 8rem 0;
}
@media (min-width: 1140px) {
  .blogr__footer-wrapper {
    display: flex;
    align-items: flex-start;
  }
}
.blogr__attribution {
  color: white;
  font-size: 1rem;
  text-align: center;
  margin-top: 2rem;
}
.blogr__attribution-link:link, .blogr__attribution-link:visited {
  text-transform: uppercase;
  color: #ff7a85;
  transition: all 0.3s;
}
.blogr__attribution-link:hover, .blogr__attribution-link:active {
  color: white;
}

/*# sourceMappingURL=style.css.map */
