@use './variables' as *;

.blogr {
  &__hero {
  }

  &__container {
  }

  &__header {
  }

  &__logo {
  }

  &__nav {
    &--primary {
    }

    &--secondary {
    }
  }

  &__list {
    &--primary {
    }

    &--secondary {
    }
  }

  &__item {
    &--primary {
    }

    &--secondary {
    }
  }

  &__link {
    &--primary {
    }

    &--secondary {
    }

    &--login {
    }
  }

  &__sublist {
    &--primary {
    }

    &--secondary {
    }
  }

  &__subitem {
    &--primary {
    }

    &--secondary {
    }
  }

  &__sublink {
    &--primary {
    }

    &--secondary {
    }
  }

  &__btn {
    &--white {
    }

    &--outline {
    }
  }

  &__heading {
    &-primary {
    }

    &-secondary {
    }

    &-tertiary {
      &--white {
      }
    }
  }

  &__text {
  }

  &__btns-wrapper {
  }

  &__main {
  }

  &__section-big {
    &--reverse {
    }
  }

  &__img {
    &--right {
    }

    &--left {
    }
  }

  &__description {
    &-wrapper {
    }

    &--grey {
    }

    &--white {
    }
  }

  &__section-small {
  }
}

.attribution {
  font-size: 1rem;
  text-align: center;
  margin-block: 1rem;

  &__link:link,
  &__link:visited {
    text-transform: uppercase;
    color: $color-primary;
    transition: all 0.2s;
  }

  &__link:hover,
  &__link:active {
    // color: $color-secondary;
  }
}
