@use './variables' as *;
@use './mixins' as *;

.blogr {
  &__hero {
    min-height: 73vh;
    background-image: url('../images/bg-pattern-intro.svg'), $gradient-primary;
    background-repeat: no-repeat, no-repeat;
    background-size: 360vw, cover;
    background-position: left -90vw top -30vh, center;
    background-attachment: fixed;
    border-bottom-left-radius: 10rem;
    padding-top: 5.5rem;

    @media (min-width: 810px) {
      min-height: 63vh;
      background-size: 260vw, cover;
      background-position: left -50vw top -40vh, center;
      padding-top: 6.5rem;
    }

    @media (min-width: 1140px) {
      background-size: 200vw, cover;
      background-position: left -20vw top -130vh, center;
    }
  }

  &__flex {
    @include flex(space-between, flex-start, column, 10rem);
  }

  &__header {
    position: relative;
    @media (min-width: 1140px) {
      @include flex(flex-start, flex-start, row, 5rem);
    }
  }

  &__logo {
    width: clamp(8.2rem, 12vw, 10rem);

    &--footer {
      width: 10rem;
      margin: 0 auto;
    }
  }

  &__hamburger {
    @media (min-width: 1140px) {
      display: none;
    }

    &-btn {
      background-color: transparent;
      border: 0;
    }
  }

  &__nav {
    text-align: center;
    transition: 0.4s ease-in-out;

    &--primary {
      width: 100%;
      background-color: $color-secondary;
      border-radius: 0.5rem;
      position: absolute;
      top: 7rem;
      display: none;

      &.open-nav {
        display: block;
      }

      @media (min-width: 1140px) {
        all: unset;
        width: 100%;
        text-align: center;
      }
    }

    &--secondary {
      width: 100%;
      margin: 8rem 0;

      @media (min-width: 1140px) {
        text-align: left;
        margin: 0;
      }
    }
  }

  &__list {
    list-style: none;

    &--primary {
      margin: 4rem 0;

      @media (min-width: 1140px) {
        margin: 0;
        @include flex(center, flex-start, row, 4rem);
      }
    }

    &--secondary {
      @media (min-width: 1140px) {
        @include flex(flex-start, space-evenly, row, 0);
      }
    }
  }

  &__item {
    &--primary {
      position: relative;
      margin-bottom: 2rem;

      @media (min-width: 1140px) {
        margin-bottom: 0;
      }
    }

    &--secondary {
      margin-bottom: 5rem;
    }
  }

  &__link {
    text-decoration: none;
    font-family: $font-secondary;
    position: relative;

    &--primary {
      &:link,
      &:visited {
        color: $color-primary--dark;
        font-size: 2rem;
        font-weight: 500;
      }

      &::after {
        content: url('../images/icon-arrow-dark.svg');
        position: absolute;
        bottom: 0.1rem;
        right: -1.5rem;
      }

      @media (min-width: 1140px) {
        &:link,
        &:visited {
          color: $color-secondary;
          border-bottom: 0.1rem solid transparent;
          font-size: 1.6rem;
          transition: all 0.3s;
        }

        &:hover,
        &:active {
          border-bottom: 0.1rem solid $color-secondary;
        }

        &::after {
          content: url('../images/icon-arrow-light.svg');
        }
      }

      &.open-arrow {
        &::after {
          bottom: -0.2rem;
          transform: rotate(180deg);
        }
      }
    }

    &--secondary {
      &:link,
      &:visited {
        color: $color-secondary;
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: 3rem;
        display: inline-block;

        @media (min-width: 1140px) {
          font-size: 1.4rem;
        }
      }
    }

    &--login {
      &::after {
        content: '';
      }
    }
  }

  &__sublist {
    list-style: none;

    &--primary {
      width: 85%;
      background-color: rgba($color-secondary--light, 0.3);
      margin: 2rem auto;
      padding: 2rem 0;
      display: none;

      &.open {
        border-radius: 0.5rem;
        text-align: center;
        display: block;
        margin: 2rem auto;

        @media (min-width: 1140px) {
          width: 8rem;
          background-color: $color-secondary;
          border-radius: 0.5rem;
          text-align: left;
          padding: 2rem 5rem 2rem 2rem;
          position: absolute;
          left: 0;
          display: inline-block;
        }
      }
    }
  }

  &__subitem {
    &--primary {
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }

    &--secondary {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }

  &__sublink {
    text-decoration: none;
    font-family: $font-secondary;
    transition: all 0.2s ease-in;

    &--primary {
      &:link,
      &:visited {
        color: $color-tertiary;
      }

      &:hover,
      &:active {
        font-weight: 900;
      }
    }

    &--secondary {
      &:link,
      &:visited {
        color: $color-secondary--light;
        font-size: 1.8rem;
        border-bottom: 0.1rem solid transparent;
        transition: all 0.3s;

        @media (min-width: 1140px) {
          font-size: 1.4rem;
        }
      }

      &:hover,
      &:active {
        border-bottom: 0.1rem solid $color-secondary--light;
      }
    }
  }

  &__heading {
    text-align: center;

    &-primary {
      color: $color-secondary;
      font-size: clamp(3.3rem, 8vw, 6rem);
      font-weight: 600;
      margin: 1rem 0;
      padding: 0 1rem;
    }

    &-secondary {
      color: $color-primary--dark;
      font-size: clamp(2.6rem, 5vw, 4rem);
    }

    &-tertiary {
      font-size: 2.85rem;
      margin-bottom: 2rem;

      &--white {
        color: $color-secondary;
        font-size: 4rem;
        margin-top: 15rem;
      }

      @media (min-width: 1140px) {
        text-align: left;
        margin: 9rem 0 2rem 0;
      }
    }
  }

  &__text {
    width: 90%;
    max-width: 50rem;
    color: $color-secondary;
    font-weight: 300;
    font-size: 1.8rem;
    margin: 1.5rem auto 5rem auto;
  }

  &__btns-wrapper {
    &--top {
      width: 85%;
      border-top: 1px solid $color-secondary--light;
      margin: 0 auto;
      padding-top: 2rem;
      display: block;

      @media (min-width: 1140px) {
        border-top: unset;
        margin: 0;
        padding-top: 0;
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 2rem;
      }
    }
  }

  &__btn {
    &:link,
    &:visited {
      width: 14rem;
      color: $color-primary--light;
      font-weight: 900;
      font-family: $font-secondary;
      border-radius: 5rem;
      text-decoration: none;
      padding: 1.3rem 0;
      display: inline-block;
      transition: all 0.3s;
    }

    &--white {
      &:link,
      &:visited {
        border: 0.1rem solid transparent;
        background-color: $color-secondary;
        margin-right: 1rem;
      }

      &:hover,
      &:active {
        color: $color-secondary;
        background-color: $color-primary--light;
      }

      &-menu {
        &:link,
        &:visited {
          color: $color-secondary;
          border: 0.1rem solid transparent;
          margin-right: 0;

          @include gradient-primary(to right);
        }

        @media (min-width: 1140px) {
          &:link,
          &:visited {
            color: $color-primary--light;
            background-image: unset;
            background-color: $color-secondary;
          }

          &:hover,
          &:active {
            color: $color-secondary;
            background-color: $color-primary--light;
          }
        }
      }
    }

    &--outline {
      &:link,
      &:visited {
        color: $color-secondary;
        border: 0.1rem solid $color-secondary;
      }

      &:hover,
      &:active {
        color: $color-primary--light;
        background-color: $color-secondary;
      }
    }
  }

  &__main {
    margin: 10rem 0;
  }

  &__section-big {
    @include flex(center, center, column, 0);

    @media (min-width: 1140px) {
      min-height: 80vh;
      display: grid;
      grid-template-columns: repeat(2, 50%);
      grid-auto-flow: dense;
    }
  }

  &__section-small {
    min-height: 60rem;
    background-color: $color-tertiary-dark;
    background-image: url('../images/bg-pattern-circles.svg'),
      $gradient-secondary;
    background-position: top -15rem center, center;
    background-repeat: no-repeat, no-repeat;
    background-size: 165vw, cover;
    background-attachment: fixed;
    border-top-right-radius: 10rem;
    border-bottom-left-radius: 10rem;
    margin: 23rem 0 5rem 0;
    position: relative;
    display: flex;
    align-items: center;

    @media (min-width: 810px) {
      background-position: top -75rem center, center;
      align-items: flex-end;
    }

    @media (min-width: 1140px) {
      background-size: 75vw, cover;
      background-position: top -55rem left -25rem, center;
      min-height: 40rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }
  }

  &__picture {
    position: relative;

    &--right {
      grid-column: 2 / -1;
    }
  }

  &__img {
    width: 100%;

    @media (min-width: 810px) {
      width: 90%;
      margin: 5rem 0;
    }

    @media (min-width: 1140px) {
      width: unset;
      margin: 0;
    }

    &--right {
      @media (min-width: 1140px) {
        position: absolute;
        bottom: -50rem;
        right: -27rem;
      }
    }

    &--phones {
      width: 100%;
      max-width: 60rem;
      position: absolute;
      top: -22rem;
      left: 50%;
      transform: translateX(-50%);
      z-index: 0;

      @media (min-width: 810px) {
        width: 80%;
      }

      @media (min-width: 1140px) {
        top: -10rem;
        left: 40rem;
      }
    }

    &--left {
      @media (min-width: 1140px) {
        position: absolute;
        bottom: -40rem;
        left: -28rem;
      }
    }
  }

  &__description {
    line-height: 1.8;
    text-align: center;
    margin-bottom: 3rem;
    padding-inline: 1rem;

    @media (min-width: 1140px) {
      text-align: left;
      padding-inline: 0;
    }

    &-wrapper {
      @media (min-width: 1140px) {
        &--left {
          margin: 0 2rem 0 16.5rem;
        }

        &--right {
          margin: 0 16.5rem 0 2rem;
        }
      }
    }

    &--white {
      color: $color-secondary;
      padding-inline: 1rem;

      @media (min-width: 1140px) {
        padding: 0;
      }
    }
  }

  &__footer {
    background-color: $color-secondary--dark;
    border-top-right-radius: 10rem;
    padding: 8rem 0;

    &-wrapper {
      @media (min-width: 1140px) {
        display: flex;
        align-items: flex-start;
      }
    }
  }

  &__attribution {
    color: $color-secondary;
    font-size: 1rem;
    text-align: center;
    margin-top: 2rem;

    &-link:link,
    &-link:visited {
      text-transform: uppercase;
      color: $color-primary--light;
      transition: all 0.3s;
    }

    &-link:hover,
    &-link:active {
      color: $color-secondary;
    }
  }
}
