$color-primary: hsl(356, 100%, 66%);
$color-primary--dark: hsl(208, 49%, 24%);
$color-primary--light: hsl(355, 100%, 74%);
$color-secondary: hsl(0, 0%, 100%);
$color-secondary--dark: hsl(240, 10%, 16%);
$color-secondary--light: hsl(240, 2%, 79%);
$color-tertiary: hsl(207, 13%, 34%);
$color-tertiary-dark: hsl(235, 23%, 29%);

$gradient-primary: linear-gradient(
  90deg,
  hsl(13, 100%, 72%),
  hsl(353, 100%, 62%)
);

$gradient-secondary: linear-gradient(
  160deg,
  hsl(237, 17%, 21%),
  hsl(237, 23%, 32%)
);

$font-primary: 'Overpass', sans-serif;
$font-secondary: 'Ubuntu', sans-serif;
